{% extends 'base.html' %}

{% block content %}
<h1>FEED PAGE</h1>
<div class="jumbotron">
    <div style="text-align: centre;">
        {% for pic,data in p.items() %}
        <div class="col d-flex justify-content-center">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="shadow p-3 mb-5 bg-body rounded">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="{{url_for('static', filename=pic)}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><p class="font-weight-bold">
                      <img src="/static/icon/profile.png" style="height:20px; width:20px; line-height:normal" alt="">{{data[0]}}</p></h5>
                    <p class="card-text">{{data[1]}}</p>
                    <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
                    {% if data[2] %}
                    <form action="{{url_for('remove',picid=pic.split('/')[1])}}",method='post'>
                        <input type="submit" name="remove" value="REMOVE" class="btb btn-danger">
                    </form>
                    {% else %}
                    <form action="{{url_for('approve',picid=pic.split('/')[1])}}",method='post'>
                        <input type="submit" name="submit" value="APPROVE" class="btb btn-danger">
                    </form>
                    {% endif %}
                  </div>
                </div>
                </div>
              </div>
              </div>
            </div>
        {% endfor %}
        </div> 
        </div>
        {% endblock %} 